/* Place CSS styles here */
body {
    width: 100vw;
    min-height: 100vh;
    background-color: aqua;
}

.absolute_image {
    width: 100vw;
    min-height: 100vh;
}

.train_car {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.landscape1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landscape {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

}


