/* Place CSS styles here */
body {
    width: 100vw;
    min-height: 100vh;
    background-color: aqua;
    overflow: hidden;
}

.absolute_image {
    width: 100vw;
    min-height: 100vh;
}

.train_car {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.landscape1 {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landscape {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5%;
    padding-top: 4%;

}


